@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$dark-0: #1e1e1e;
$dark-1: #1c1b1f;
$dark-2: #443f7b;
$light-0: #4c5c87;
$light-1: #69809e;
$light-2: #95c5ac;

* {
    // margin: 0;
    // padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $dark-0;
    color: $light-0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: $light-2;
}

p {
    color: $light-1;
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 5rem;
    width: 100%;
    background-color: $dark-1;

    ul {
        padding: 0;
        margin: 0;
        width: 60%;
        min-width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            list-style: none;
            font-size: 1.75rem;

            a {
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    color: $light-1;
                }
            }
        }
    }
}

section {
    margin-block: 2rem;
    border-top: 1px dashed $dark-2;
}

.container {
    width: 50%;
    margin: 0 auto;
    // padding: 2rem 5rem;
}
